
*.cache
.vs/EternitiesMap/v16/.suo
.vs/EternitiesMap/v16/Server/sqlite3/db.lock
.vs/EternitiesMap/v16/Server/sqlite3/storage.ide
.vs/EternitiesMap/v16/Server/sqlite3/storage.ide-shm
.vs/EternitiesMap/v16/Server/sqlite3/storage.ide-wal
EternitiesMap/bin/Debug/EternitiesMap.exe
EternitiesMap/bin/Debug/EternitiesMap.exe.config
EternitiesMap/bin/Debug/EternitiesMap.pdb
EternitiesMap/bin/Debug/EternitiesMap.xml
EternitiesMap/obj/Debug/EternitiesMap.exe
EternitiesMap/obj/Debug/EternitiesMap.GameBoard.resources
EternitiesMap/obj/Debug/EternitiesMap.MainMenu.resources
EternitiesMap/obj/Debug/EternitiesMap.pdb
EternitiesMap/obj/Debug/EternitiesMap.Resources.resources
EternitiesMap/obj/Debug/EternitiesMap.vbproj.FileListAbsolute.txt
EternitiesMap/obj/Debug/EternitiesMap.xml
EternitiesMap/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
EternitiesMap/EternitiesMap_TemporaryKey.pfx
EternitiesMap/obj/Debug/build.force
packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/.signature.p7s
packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/build/Microsoft.CodeAnalysis.FxCopAnalyzers.props
packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/documentation/Microsoft.CodeAnalysis.FxCopAnalyzers.md
packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3.nupkg
packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/AllRulesDefault.ruleset
packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/AllRulesDisabled.ruleset
packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/AllRulesEnabled.ruleset
packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/DesignRulesDefault.ruleset
packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/DesignRulesEnabled.ruleset
packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/DocumentationRulesDefault.ruleset
packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/DocumentationRulesEnabled.ruleset
packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/GlobalizationRulesDefault.ruleset
packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/GlobalizationRulesEnabled.ruleset
packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/InteroperabilityRulesDefault.ruleset
packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/InteroperabilityRulesEnabled.ruleset
packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/legacy/AllRules.ruleset
packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/legacy/BasicCorrectnessRules.ruleset
packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/legacy/BasicDesignGuidelineRules.ruleset
packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/legacy/ExtendedCorrectnessRules.ruleset
packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/legacy/ExtendedDesignGuidelineRules.ruleset
packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/legacy/GlobalizationRules.ruleset
packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/legacy/ManagedMinimumRules.ruleset
packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/legacy/MinimumRecommendedRules.ruleset
packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/legacy/Sdl-7.1.Recommended.ruleset
packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/legacy/Sdl-7.1.Required.ruleset
packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/legacy/SecurityRules.ruleset
packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/MaintainabilityRulesDefault.ruleset
packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/MaintainabilityRulesEnabled.ruleset
packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/NamingRulesDefault.ruleset
packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/NamingRulesEnabled.ruleset
packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/PerformanceRulesDefault.ruleset
packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/PerformanceRulesEnabled.ruleset
packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/ReliabilityRulesDefault.ruleset
packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/ReliabilityRulesEnabled.ruleset
packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/SecurityRulesDefault.ruleset
packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/SecurityRulesEnabled.ruleset
packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/UsageRulesDefault.ruleset
packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/UsageRulesEnabled.ruleset
packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/ThirdPartyNotices.rtf
packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/tools/install.ps1
packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/tools/uninstall.ps1
packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.3/.signature.p7s
packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.3/analyzers/dotnet/Microsoft.CodeAnalysis.VersionCheckAnalyzer.dll
packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.3/build/Microsoft.CodeAnalysis.VersionCheckAnalyzer.props
packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.3/documentation/Microsoft.CodeAnalysis.VersionCheckAnalyzer.md
packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.3/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.3.nupkg
packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.3/rulesets/AllRulesDefault.ruleset
packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.3/rulesets/AllRulesDisabled.ruleset
packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.3/rulesets/AllRulesEnabled.ruleset
packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.3/rulesets/ReliabilityRulesDefault.ruleset
packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.3/rulesets/ReliabilityRulesEnabled.ruleset
packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.3/ThirdPartyNotices.rtf
packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.3/tools/install.ps1
packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.3/tools/uninstall.ps1
packages/Microsoft.CodeQuality.Analyzers.2.9.3/.signature.p7s
packages/Microsoft.CodeQuality.Analyzers.2.9.3/analyzers/dotnet/cs/Humanizer.dll
packages/Microsoft.CodeQuality.Analyzers.2.9.3/analyzers/dotnet/cs/Microsoft.CodeQuality.Analyzers.dll
packages/Microsoft.CodeQuality.Analyzers.2.9.3/analyzers/dotnet/cs/Microsoft.CodeQuality.CSharp.Analyzers.dll
packages/Microsoft.CodeQuality.Analyzers.2.9.3/analyzers/dotnet/vb/Humanizer.dll
packages/Microsoft.CodeQuality.Analyzers.2.9.3/analyzers/dotnet/vb/Microsoft.CodeQuality.Analyzers.dll
packages/Microsoft.CodeQuality.Analyzers.2.9.3/analyzers/dotnet/vb/Microsoft.CodeQuality.VisualBasic.Analyzers.dll
packages/Microsoft.CodeQuality.Analyzers.2.9.3/build/Microsoft.CodeQuality.Analyzers.props
packages/Microsoft.CodeQuality.Analyzers.2.9.3/documentation/Microsoft.CodeQuality.Analyzers.md
packages/Microsoft.CodeQuality.Analyzers.2.9.3/Microsoft.CodeQuality.Analyzers.2.9.3.nupkg
packages/Microsoft.CodeQuality.Analyzers.2.9.3/rulesets/AllRulesDefault.ruleset
packages/Microsoft.CodeQuality.Analyzers.2.9.3/rulesets/AllRulesDisabled.ruleset
packages/Microsoft.CodeQuality.Analyzers.2.9.3/rulesets/AllRulesEnabled.ruleset
packages/Microsoft.CodeQuality.Analyzers.2.9.3/rulesets/DesignRulesDefault.ruleset
packages/Microsoft.CodeQuality.Analyzers.2.9.3/rulesets/DesignRulesEnabled.ruleset
packages/Microsoft.CodeQuality.Analyzers.2.9.3/rulesets/DocumentationRulesDefault.ruleset
packages/Microsoft.CodeQuality.Analyzers.2.9.3/rulesets/DocumentationRulesEnabled.ruleset
packages/Microsoft.CodeQuality.Analyzers.2.9.3/rulesets/MaintainabilityRulesDefault.ruleset
packages/Microsoft.CodeQuality.Analyzers.2.9.3/rulesets/MaintainabilityRulesEnabled.ruleset
packages/Microsoft.CodeQuality.Analyzers.2.9.3/rulesets/NamingRulesDefault.ruleset
packages/Microsoft.CodeQuality.Analyzers.2.9.3/rulesets/NamingRulesEnabled.ruleset
packages/Microsoft.CodeQuality.Analyzers.2.9.3/rulesets/PerformanceRulesDefault.ruleset
packages/Microsoft.CodeQuality.Analyzers.2.9.3/rulesets/PerformanceRulesEnabled.ruleset
packages/Microsoft.CodeQuality.Analyzers.2.9.3/rulesets/ReliabilityRulesDefault.ruleset
packages/Microsoft.CodeQuality.Analyzers.2.9.3/rulesets/ReliabilityRulesEnabled.ruleset
packages/Microsoft.CodeQuality.Analyzers.2.9.3/rulesets/SecurityRulesDefault.ruleset
packages/Microsoft.CodeQuality.Analyzers.2.9.3/rulesets/SecurityRulesEnabled.ruleset
packages/Microsoft.CodeQuality.Analyzers.2.9.3/rulesets/UsageRulesDefault.ruleset
packages/Microsoft.CodeQuality.Analyzers.2.9.3/rulesets/UsageRulesEnabled.ruleset
packages/Microsoft.CodeQuality.Analyzers.2.9.3/ThirdPartyNotices.rtf
packages/Microsoft.CodeQuality.Analyzers.2.9.3/tools/install.ps1
packages/Microsoft.CodeQuality.Analyzers.2.9.3/tools/uninstall.ps1
packages/Microsoft.NetCore.Analyzers.2.9.3/.signature.p7s
packages/Microsoft.NetCore.Analyzers.2.9.3/analyzers/dotnet/cs/Microsoft.NetCore.Analyzers.dll
packages/Microsoft.NetCore.Analyzers.2.9.3/analyzers/dotnet/cs/Microsoft.NetCore.CSharp.Analyzers.dll
packages/Microsoft.NetCore.Analyzers.2.9.3/analyzers/dotnet/vb/Microsoft.NetCore.Analyzers.dll
packages/Microsoft.NetCore.Analyzers.2.9.3/analyzers/dotnet/vb/Microsoft.NetCore.VisualBasic.Analyzers.dll
packages/Microsoft.NetCore.Analyzers.2.9.3/build/Microsoft.NetCore.Analyzers.props
packages/Microsoft.NetCore.Analyzers.2.9.3/documentation/Microsoft.NetCore.Analyzers.md
packages/Microsoft.NetCore.Analyzers.2.9.3/Microsoft.NetCore.Analyzers.2.9.3.nupkg
packages/Microsoft.NetCore.Analyzers.2.9.3/rulesets/AllRulesDefault.ruleset
packages/Microsoft.NetCore.Analyzers.2.9.3/rulesets/AllRulesDisabled.ruleset
packages/Microsoft.NetCore.Analyzers.2.9.3/rulesets/AllRulesEnabled.ruleset
packages/Microsoft.NetCore.Analyzers.2.9.3/rulesets/GlobalizationRulesDefault.ruleset
packages/Microsoft.NetCore.Analyzers.2.9.3/rulesets/GlobalizationRulesEnabled.ruleset
packages/Microsoft.NetCore.Analyzers.2.9.3/rulesets/InteroperabilityRulesDefault.ruleset
packages/Microsoft.NetCore.Analyzers.2.9.3/rulesets/InteroperabilityRulesEnabled.ruleset
packages/Microsoft.NetCore.Analyzers.2.9.3/rulesets/PerformanceRulesDefault.ruleset
packages/Microsoft.NetCore.Analyzers.2.9.3/rulesets/PerformanceRulesEnabled.ruleset
packages/Microsoft.NetCore.Analyzers.2.9.3/rulesets/ReliabilityRulesDefault.ruleset
packages/Microsoft.NetCore.Analyzers.2.9.3/rulesets/ReliabilityRulesEnabled.ruleset
packages/Microsoft.NetCore.Analyzers.2.9.3/rulesets/SecurityRulesDefault.ruleset
packages/Microsoft.NetCore.Analyzers.2.9.3/rulesets/SecurityRulesEnabled.ruleset
packages/Microsoft.NetCore.Analyzers.2.9.3/rulesets/UsageRulesDefault.ruleset
packages/Microsoft.NetCore.Analyzers.2.9.3/rulesets/UsageRulesEnabled.ruleset
packages/Microsoft.NetCore.Analyzers.2.9.3/ThirdPartyNotices.rtf
packages/Microsoft.NetCore.Analyzers.2.9.3/tools/install.ps1
packages/Microsoft.NetCore.Analyzers.2.9.3/tools/uninstall.ps1
packages/Microsoft.NetFramework.Analyzers.2.9.3/.signature.p7s
packages/Microsoft.NetFramework.Analyzers.2.9.3/analyzers/dotnet/cs/Microsoft.NetFramework.Analyzers.dll
packages/Microsoft.NetFramework.Analyzers.2.9.3/analyzers/dotnet/cs/Microsoft.NetFramework.CSharp.Analyzers.dll
packages/Microsoft.NetFramework.Analyzers.2.9.3/analyzers/dotnet/vb/Microsoft.NetFramework.Analyzers.dll
packages/Microsoft.NetFramework.Analyzers.2.9.3/analyzers/dotnet/vb/Microsoft.NetFramework.VisualBasic.Analyzers.dll
packages/Microsoft.NetFramework.Analyzers.2.9.3/build/Microsoft.NetFramework.Analyzers.props
packages/Microsoft.NetFramework.Analyzers.2.9.3/documentation/Microsoft.NetFramework.Analyzers.md
packages/Microsoft.NetFramework.Analyzers.2.9.3/Microsoft.NetFramework.Analyzers.2.9.3.nupkg
packages/Microsoft.NetFramework.Analyzers.2.9.3/rulesets/AllRulesDefault.ruleset
packages/Microsoft.NetFramework.Analyzers.2.9.3/rulesets/AllRulesDisabled.ruleset
packages/Microsoft.NetFramework.Analyzers.2.9.3/rulesets/AllRulesEnabled.ruleset
packages/Microsoft.NetFramework.Analyzers.2.9.3/rulesets/DesignRulesDefault.ruleset
packages/Microsoft.NetFramework.Analyzers.2.9.3/rulesets/DesignRulesEnabled.ruleset
packages/Microsoft.NetFramework.Analyzers.2.9.3/rulesets/SecurityRulesDefault.ruleset
packages/Microsoft.NetFramework.Analyzers.2.9.3/rulesets/SecurityRulesEnabled.ruleset
packages/Microsoft.NetFramework.Analyzers.2.9.3/ThirdPartyNotices.rtf
packages/Microsoft.NetFramework.Analyzers.2.9.3/tools/install.ps1
packages/Microsoft.NetFramework.Analyzers.2.9.3/tools/uninstall.ps1
