
*.cache
.vs/EternitiesMap/v16/.suo
.vs/EternitiesMap/v16/Server/sqlite3/db.lock
.vs/EternitiesMap/v16/Server/sqlite3/storage.ide
.vs/EternitiesMap/v16/Server/sqlite3/storage.ide-shm
.vs/EternitiesMap/v16/Server/sqlite3/storage.ide-wal
EternitiesMap/bin/Debug/EternitiesMap.exe
EternitiesMap/bin/Debug/EternitiesMap.exe.config
EternitiesMap/bin/Debug/EternitiesMap.pdb
EternitiesMap/bin/Debug/EternitiesMap.xml
EternitiesMap/obj/Debug/EternitiesMap.exe
EternitiesMap/obj/Debug/EternitiesMap.GameBoard.resources
EternitiesMap/obj/Debug/EternitiesMap.MainMenu.resources
EternitiesMap/obj/Debug/EternitiesMap.pdb
EternitiesMap/obj/Debug/EternitiesMap.Resources.resources
EternitiesMap/obj/Debug/EternitiesMap.vbproj.FileListAbsolute.txt
EternitiesMap/obj/Debug/EternitiesMap.xml
EternitiesMap/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
